# Ignorar todo por defecto
*

# Excluir la carpeta Assets de la regla anterior (incluirla en el repositorio)
!/Assets/

# Unity default .gitignore settings
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

# Ignorar carpetas generadas automáticamente por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures pueden ser muy grandes y contener datos sensibles
/[Mm]emoryCaptures/

# Grabaciones pueden ser muy grandes
/[Rr]ecordings/

# Ignorar herramientas del Asset Store
# /[Aa]ssets/AssetStoreTools*

# Plugin autogenerado de JetBrains Rider
/[Aa]ssets/Plugins/Editor/JetBrains*

# Caché de Visual Studio
.vs/

# Caché de Gradle
.gradle/

# Archivos de solución y proyectos autogenerados
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Metadatos generados por Unity
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Archivos generados por Unity en informes de errores
sysinfo.txt

# Builds ignoradas
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Archivos generados por Crashlytics
crashlytics-build.properties

# Addressables empaquetados
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Archivos temporales de StreamingAssets en Android
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
